@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
@apply box-border
}
*::-webkit-scrollbar {
  display: none;
}
header a {
@apply  px-2 rounded font-semibold text-zinc-500 border-b-2 border-transparent;
}