@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
@apply box-border outline-2 outline-brand ring-brand;
  -webkit-font-smoothing: antialiased;
}

header a {
@apply  px-2 rounded font-semibold text-zinc-500 border-b-4 border-transparent;
}
body{
@apply bg-slate-100
}